---
layout: about
title: About
---

<h2>About cdxvy30</h2>

<p>
Hello, this is cdxvy30. Currently is a summer intern in depositar lab, IIS, Academia Sinica.<br>
Graduated at Geomatics, NCKU and will master in CAE, NTU CE.<br>
Love computer science related techniques, but still a rookie in CSIE.<br>
</p>

<p>

<p>
:art:&nbsp;Yet another theme for elegant writers with modern flat style
and beautiful night mode.
</p>

<p>
Hey, nice to meet you, you found this Jekyll theme. Here the yet another
theme is a modern theme, and it's quite clear, clean and neat for writers
and posts.
</p>
